{% extends 'base.html.twig' %}

{% block title %}Shroud-Silvermoon | Apply{% endblock %}

{% block body %}
<div class="apply-container auto-container">
  <h1> Create an account at Shroud-Silvermoon </h1>
  {% if app.user %}
  <h3> You're already logged in you silly goose </h3>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/T048au7Ayqg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  {% else %}
  <p> We ask you to create an account before making an application. You'll use it to login and track your application, aswell as recieve updates as the application progresses. </p>
  <p> Don't worry. We won't use your email address for anything except notifying you about your applications status.
  </p>
  {{ form_start(form) }}
  <div class="form-control">
    <span class="entry-label">{{ form_label(form.username)}}</span>
    <span class="entry-input">{{ form_widget(form.username)}} </span>
    <div class="entry-error">
      {{ form_errors(form.email)}}
    </div>
  </div>
  <div class="form-control">
    <span class="entry-label">{{ form_label(form.email)}}</span>
    <span class="entry-input">{{ form_widget(form.email)}} </span>
    <div class="entry-error">
      {{ form_errors(form.email)}}
    </div>
  </div>
  <div class="form-control">
    <span class="entry-label">{{ form_label(form.password)}}</span>
    <span class="entry-input">{{ form_widget(form.password)}} </span>
    <div class="entry-error">
      {{ form_errors(form.password)}}
    </div>
  </div>
  {{ form_end(form) }}

  <h3> Already have an account? </h3>
  <p> <a href="/login"> Login instead </a> </p>
  {% endif %}
</div>
{% endblock %}
